@model IEnumerable<GitUser>
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "GitUser";
}

<h2>Git User</h2>


<form method="get">
    <p>
        User Name: <input name="userName"  required="required" value="@ViewBag.userName" />
       
        <input type="submit" name ="submit" required="required" value="Search User" onclick= asp-area="" asp-controller="Home" asp-action="Search">
    </p>
    @ViewData["Data"]
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                 ID
            </th>
            <th>
                Login
           </th>
            <th>
                Home URL
           </th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
           </td>
            <td>
                 <a href="@Html.DisplayFor(modelItem => item.html_url)">
            @Html.DisplayFor(modelItem => item.html_url)
            </a>
           </td>
           </tr>
            
        }
    </tbody>
</table>