@model PaginatedList<Product>
@using System.Text.RegularExpressions;


@{
    ViewBag.Title = "GitUser";
}

<h2>Car Sales</h2>
<table class="table">
   
        <tr>

            <th>
                 Make
            </th>
            <th>
                 Model
            </th>
            <th>
                Title
            </th>
            <th>
                <a asp-action="Product" asp-route-sortOrder="@ViewData["NameSortParm1"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">High to Low</a>
                <a asp-action="Product" asp-route-sortOrder="@ViewData["NameSortParm2"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Low to High</a>

            </th>
            <th>
                Image
            </th>
      </tr>
   
    <tbody>
        @foreach(var item in Model) {
            <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="Paris" width="300" height="300">
            </td>
           </tr>
            
        }
    </tbody>
</table>

@{

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@* The paging buttons are displayed by tag helpers *@
<a asp-action="Product"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Product"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
   Next
</a>
<style>

    h2{
         text-align:center;
    }
    .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    
    }

    .btn-default {
    color: white;
    background-color: #4CAF50;
    border-color:  #4CAF50;
    align: center;
    margin:auto; 
    }
</style>