
@model IEnumerable<SearchUser>

@{
    ViewBag.Title = "GitUser";
}

<h2>Git User</h2>


<form method="get">
    <p>
        User Name: <input name="userName" value="@ViewBag.userName" />
        <input type="submit" value="Search User" onclick= asp-area="" asp-controller="Home" asp-action="Search">
    </p>
    @ViewData["Data"]
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                 ID
            </th>
            <th>
                Repository
           </th>
            <th>
                Repo URL
           </th>
         <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
           </td>
            <td>
             <a href="https://github.com/@Html.DisplayFor(modelItem => item.full_name)">
            @Html.DisplayFor(modelItem => item.full_name)
             </td>

            </tr>
            
        }
    </tbody>
</table>